<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
    <preference name="phonegap-version" value="cli-8.0.0" />  
    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://coenraets.org" email="ccoenraets@gmail.com">
        Christophe Coenraets
    </author>
 
    <plugin name="cordova-plugin-camera" spec="4.0.2" />
    <plugin name="cordova-plugin-contacts" spec="3.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <!--
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    -->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
</widget>
